.content {
  background-image: url("../../../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.titleBox {
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
}

.subtitle {
  margin: auto 0 8px 7px;
}

.contentCard {
  background: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 31px 20px 28px;
  min-height: 693px;
  padding: 36px;
}

.cardTitle {
  margin-bottom: 48px;
}

.copyright {
  margin: 0 20px 0 auto;
  max-width: 1240px;
  padding-bottom: 36px;
  text-align: right;
}

.link {
  margin-bottom: 50px;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .titleBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }

  .title {
    align-self: center;
    font-size: 10vw;
    line-height: 10vw;
    margin: 0;
  }

  .subtitle {
    margin: 0;
  }
}
