.form {
  align-self: center;
  justify-content: space-between;
  display: flex;
  gap: 12px;
  margin-bottom: 48px;
  max-width: 980px;
  width: 100%;
}

.form_fieldset {
  width: 100%;
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form_fieldset_type_radio {
  max-width: 221px;
  gap: 40px;
}

.form_fieldset_type_button {
  max-width: 707px;
  gap: 0;
}

.form_button {
  width: 100%;
  max-width: 205px;
  padding: 18px 24px;
  box-sizing: border-box;
}

.form_button:last-child {
  margin-left: auto;
}

.wrapper {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  max-width: 944px;
  min-height: 368px;
}
